{% extends "base.html" %}
 {% load static %} 
 {% block content %}
 
<style>
    .navbar{
display: none;
    }

</style> 





 <form action="" method="POST" enctype="multipart/form-data" > {% csrf_token %}










    <div class="container mb-5">
    <div class="row">
        <div id="profileContent" class="col-lg-12 mt-5 profile-content">               
            <h1 style="color: #005494;"><b> SETUP YOUR PROFILE   </b></h1>
                    <div>
                        <button type="submit" text='save' style="float: right;background: #005494;" class="btn mb-5 addbutton btn-primary">save</button>
                    </div>
                </div>
            </div>
            <div class="formss mt-5 profile-form" style="border:1px solid rgba(234, 234, 234, 1);border-radius:10px;">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="mb-3">
                            <label for="firstName" class="form-label profile-label">First Name</label>
                            <input type="text" name="name" class="form-1 profile-input" id="firstName">
                        </div>
                        <div class="mb-3">
                            <label for="emailAddress" name="email" class="form-label profile-label">Email Address</label>
                            <input type="text" name="email" class="form-1 profile-input" id="emailAddress">
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label profile-label">Location</label>
                            <input type="text" name="location" class="form-1 profile-input" id="location">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="mb-3">
                            <label for="lastName" class="form-label profile-label">Last Name</label>
                            <input type="text" name="last_name" class="form-1 profile-input" id="lastName">
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label profile-label">Phone Number</label>
                            <input type="text"name="number" class="form-1 profile-input" id="phoneNumber">
                        </div>
                    </div>
                </div>
                <input type="file" id="upload_img" name="image" accept="image/*" required>
                <div class="describation">
                    <div class="mb-3">
                        <label for="profileDescription" class="form-label profile-label">Profile Description</label>
                        <textarea class="form-control profile-textarea" name="about" id="profileDescription" rows="7"
                            maxlength="1000"></textarea>
                        
                    </div>
                </div>
            </div></div></div></div>
        </div>
        
        
        
        
</form>
        {% endblock %}